.modal { 
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,16,33,0.80);
}
.modal__window {
  padding: 32px 62px;
  max-width: 444px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 16px 0 rgba(0,44,92,0.28);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 24px;
  margin-top: auto;
}
.modal__icon {
  width: 40px;
  height: 40px;
}
.modal__text {
  margin-top: 16px;
  font-size: 20px;
  color: #000;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
.modal__place,
.modal__date {
  font-size: 15px;
  color: #000;
  letter-spacing: 0;
  line-height: 17px;
}
.modal__date {
  margin-top: 9px;
  margin-bottom: 5px;
}
.modal__buttons {
  margin-top: 24px;
  display: flex;
}
.modal__button {
  margin-right: 16px;
}
.modal__button:last-child {
  margin-right: 0;
}

@media (min-width: 1280px) {
  .modal { 
    position: absolute;
    background: rgba(0,16,33,0.40);
  }
  .modal__window {
    margin: auto;
  }
}