.meeting {
	height: 100%;
	background-color: #D5DFE9;
	position: relative;
}

.meeting:active {
	background-color: #98A9B9;
}
.meeting_state_active {
  background-color: #8594a2;
  opacity: 1!important;
} 

@media (min-width: 1280px) {
  .meeting:hover {
    background-color: #98A9B9;
    z-index: 1000;
  }
  .meeting:active {
    background-color: #8594a2;
  }
}