 .button { 
	display: inline-block;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
  font-family: 'Neue Helvetica', 'Open Sans', Helvetica, Arial, sans-serif;
}
.button_touch_hide {
	display: none;
}
.button_size_md {
	height: 44px; 
	padding: 13px 24px;
}
.button_theme_normal {
	background-color:  #e9ecef;
	color: #000;
}
.button_theme_normal.button_pressed_true.button_hovered_true {
	background-color: #DDE0E4;
}
.button_theme_normal:disabled {
	background-color: #E9ECEF;
	color: rgba(0, 0, 0 , .2);
}
.button_theme_active {
	background-color: #007dff;
	color: #fff;
}
.button_theme_active.button_pressed_true.button_hovered_true {
	background-color: #0059FF;
}
.button_theme_active:disabled {
	background-color: #e9ecef;
	color: rgba(0, 0, 0 , .2);
}

@media (min-width: 1280px) {
	.button_touch_hide {
		display: block;
	}
	.button { 
		font-size: 13px;
		line-height: 16px;
		cursor: pointer;
	}
	.button_size_md {
		height: 36px; 
		padding: 10px 16px;
	}
	.button_theme_normal.button_hovered_true {
		background-color: #dde0e3;
	}
	.button_theme_normal.button_pressed_true.button_hovered_true {
		background-color: #c8cdd3;
	}
	.button_theme_normal:disabled {
		background-color: #e2e5e8;
	}
	.button_theme_active {
		background-color: #007dff;
		color: #fff;
	}
	.button_theme_active.button_hovered_true {
		background-color: #0059ff;
	}
	.button_theme_active.button_pressed_true.button_hovered_true {
		background-color: #0011fe;
	}
	.button_theme_active:disabled {
		background-color: #e2e5e8;
	}
}