.logo {
	display: inline-block;
	width: 150px;
	height: 22px;
	background-image: url('logo.svg');
	text-decoration: none;
}
.logo__text {
	display: block;
	width: 100%;
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
}

@media (min-width: 1280px) {
	.logo { 
		width: 175px;
		height: 26px;
		background-image: url('logo@desktop.svg');
	}
}