.date-control {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.date-control__date {
  flex: 1;
	font-size: 15px;
	line-height: 18px;
	color: #000;
	font-weight: 500;
  display: flex;
}
.date-control__relative-date {

  width: 50%;
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0.47px;
  font-family: Neue Helvetica, Open Sans, Helvetica, Arial, sans-serif;
   display: none;
}