.date-control {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.date-control__date {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0; 
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0;
  font-family: Neue Helvetica, Open Sans, Helvetica, Arial, sans-serif;
}
.date-control__date-calendar {
  width: auto;
  max-width: 150px;
  flex: 1;
  position: relative;
}
.date-control_focused_true .date-control__date {
  color: #0070E0;
}

@media (min-width: 1280px) {
  .date-control .react-datepicker-popper {
    left: -24px!important;
  }
}