.react-autosuggest__container {

}
.react-autosuggest__container--open {

}
.react-autosuggest__input {
  height: 44px;
  width: 100%;
  padding: 0 10px 0 10px;
  font-size: 15px;
  line-height: 17px;
  border-radius: 4px;
  border: 2px solid #e9ecef;
  color: #000;
  letter-spacing: 0.47px;
  font-family: Neue Helvetica, Open Sans, Helvetica, Arial, sans-serif;
}
.react-autosuggest__input:focus {
  border: 2px solid #007DFF;
} 
.react-autosuggest__input::placeholder {
  color: #858e98;
  letter-spacing: 0.47px;
  font-family: Neue Helvetica, Open Sans, Helvetica, Arial, sans-serif;
}


.react-autosuggest__input--open {
  border: 2px solid #007DFF;
}
.react-autosuggest__input--focused {
  border: 2px solid #007DFF;
}
.react-autosuggest__suggestions-container {
  max-height: 102px;
  width: 100%;
  
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  
  transform: translateY(100%);
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 10px 0 rgba(0,44,92,0.28);

  overflow-y: auto;

  display: none;
}
.react-autosuggest__suggestions-container--open {
  display: inline-block;
}
.react-autosuggest__suggestions-list {

}

.input-autocomplete__item {
  height: 34px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
}
.react-autosuggest__suggestion {
  height: 34px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 16px;
  cursor: default;
}
.input-autocomplete__floor {
  color: #8e97a0;
}
.react-autosuggest__suggestion--first {

}
.react-autosuggest__suggestion--highlighted {
  background-color: #F6F7F9;
  font-weight: 700;
}
.react-autosuggest__section-container {

}
.react-autosuggest__section-container--first {

}
.react-autosuggest__section-title {

}
.react-autosuggest__suggestions-container::-webkit-scrollbar {
  width: 16px;  
}
 
.react-autosuggest__suggestions-container::-webkit-scrollbar-track {
  background-color: #fff;
}   
.react-autosuggest__suggestions-container::-webkit-scrollbar-thumb {
  width: 8px;
  background-clip: content-box;
  border-radius: 100px;
  border: 4px solid #fff;
  background-color: #d5dfe9;
}

@media (min-width: 1280px) {
  .react-autosuggest__input {
    height: 38px;
    font-size: 13px;
    line-height: 15px;
  }
  .react-autosuggest__input:focus {
    border: 2px solid #007DFF;
  } 
  .react-autosuggest__input:hover {
    border: 2px solid #007DFF;
  }
  .react-autosuggest__input:hover .react-autosuggest__input::placeholder {
    font-size: 0;
  }
  .react-autosuggest__suggestions-container {
    max-height: 136px;
    width: 100%;
  }
  
  .text-input_hovered_true .react-autosuggest__input::placeholder {
    font-size: 0;
  }
}

.autocomplete__icon {
  margin: 2px;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  opacity: 1;
  cursor: pointer;
  background-color: #fff;
  display: none;
}

.autocomplete__icon_visible_true {
  display: inline-block;
}

@media (min-width: 1280px) {
  .autocomplete__icon {
    width: 34px;
    height: 34px;
  }
}
